.gridCard-items {
    display: grid;
    grid-template-columns: 11.25rem 11.25rem 11.25rem 11.25rem 11.25rem 11.25rem;
    gap: 1.25rem;
}
.gridCard-items:hover {
    border: 1px solid rgb(4, 156, 142);
}
.gridCard-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    width: 11.25rem;
    height: 11.25rem;

    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 4px 4px 46px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 46px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 46px 0px rgba(34, 60, 80, 0.2);
    color: inherit;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.gridCard-img {
    width: 2.5rem;
    height: 2.5rem;
}
.gridCard-title {
    width: 90%;
    font-size: clamp(0.75rem, 0.625rem + 0.63vw, 1.188rem);
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.gridCard-title:hover {
    color: rgb(4, 156, 142);
}
@media (min-width: 768px) and (max-width:992px) {
    .gridCard-items  {
        display: grid;
        grid-template-columns: 10rem 10rem 10rem 10rem;
        row-gap: 1rem;
        column-gap: 2rem;
    } 
}
@media screen and (min-width: 480px) and (max-width:768px) {
    .gridCard-items  {
        grid-template-columns: 10rem 10rem 10rem 10rem;
        row-gap: 0.5rem;
        column-gap: 3rem;
    }
    .gridCard-title {
        font-size: 1rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .gridCard-items  {
        display: grid;
        grid-template-columns: 10rem 10rem 10rem 10rem;
        column-gap: 1rem;
        row-gap: 0.6rem;
    }
    .gridCard-title {
        font-size: 1rem;
    }
}
@media screen and (max-width: 320px) {
    .gridCard-items  {
        gap: 0.5rem;
        display: grid;
        grid-template-columns: 10rem 10rem 10rem 10rem;
    } 
}
