.gridCard-item:hover {
  outline: 1px solid rgb(4, 156, 142);
}
.gridCard-img {
  width: 2.5rem;
  height: 2.5rem;
}
.gridCard-title {
  color: rgb(127, 128, 133);
  font-size: clamp(0.75rem, 0.625rem + 0.63vw, 1.188rem);
  font-weight: 600;
  cursor: pointer;
}
.gridCard-title:hover {
  color: rgb(4, 156, 142);
}
