.AnalyticsСontent {
    width: 100%;
    height: 100vh;
}
.AnalyticsСontent-container{
    display: flex;
    flex-direction: column;
}
.menuTabs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 0rem;
}
.menuTabs {
    font-size: 1rem;
}