.marketNumbers-item {
	width: 15.625rem;
	height: 15.625rem;
	border: 0.065rem solid rgb(81, 81, 84);
	border-radius: 2rem;
	background-color: rgb(255, 255, 255);
	padding: 1rem;

	@media (min-width: 768px) and (max-width: 1280px) {
		width: 12rem;
		height: 12rem;
  }
	@media (max-width: 320px) {
		width: 10rem;
		height: 10rem;
	}
}
.marketNumbers-inner {
	color: rgb(127, 128, 133);
	font-size: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	gap: 0.3rem;
	width: 100%;
	height: 80%;
}
.marketNumbers-item__description {
	color: rgb(127, 128, 133);
	font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);
	font-weight: normal;
}
