.perspectivesBlock {
  width: 100%;
  padding: 64px 0;
  box-sizing: border-box;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 320px) {
    padding: 2rem;
  }
}
.perspectivesBlock-advantages {
  display: flex;
  flex-direction: row;
  color: rgb(127, 128, 133);
  gap: 2rem;

  @media (min-width: 1440px) {
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  @media (max-width: 320px) {
    flex-direction: column;
    padding: 0;
  }
}
.perspectivesBlock-advantages__title {
  height: auto;
}
.perspectivesBlock__advantagesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
