.features-item {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 15rem;
	height: auto;

	@media (max-width: 320px) {
		min-width: 6rem;
		height: auto;
	}
}
.features-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.feature-cartIcon {
	width: 2.125rem;
	height: 2.187rem;
}
.feature-icon {
	width: 3.625rem;
	height: 3.625rem;
}
.features-title {
	font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);
	font-weight: bold;
	width: 16rem;
}
.features-description {
	font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);
	width: auto;
	height: auto;
}
