.whyUs {
    width: 100%;
    height: auto;
}
.whyUs-wrapper {
    width: 100%;
    height: auto;
}
.whyUs-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 4rem;
}
.whyUs-content-subtitle {
    font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
    font-weight: 400;
}
.whyUs-content-title  {
    font-weight: normal;

    width: 69.3rem;
    height: auto;
}
.whyUs-features {
    display: flex;
    flex-direction: column;

    position: relative;
}
.features-img {
    width: 100%;
    height: 21.06rem;
}
.whyUs-features__content {
    position: absolute;
    top:0rem;
    left: 34%;
    z-index: 1;
}
@media (min-width: 768px) and (max-width:992px) {
    .whyUs-content {
        padding: 6rem;
    }
    .whyUs-content-title {
        width: 50rem;
    }    
    .features-img {
        height: 23rem;
    }
    .whyUs-features__content {
        left: 33%;
    }
}
@media screen and (min-width: 480px) and (max-width:768px) {
    .whyUs-content {
        padding: 6rem;
    }
    .features-img {
        height: 24rem;
    }
    .whyUs-content-title  {
        width: 50rem;
    }
    .features-img {
        height: 24rem;
    }
    .whyUs-features__content {
        left: 33%;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .whyUs-content {
        padding: 6rem;
    }
    .features-img {
        display: none;
    }
    .whyUs-content-title  {
        width: 50rem;
    }
    .features-img {
        display: none;
    }
    .whyUs-features__content {
        top:0rem;
        left: 4rem;
        z-index: 1;
    }
}
@media (max-width: 320px){
    
    .whyUs-content {
        padding-left: 6rem;
    }
    .whyUs-features {
        padding-left: 6rem;
        position: static;
    }
    .features-img {
        display: none;
    }
    .whyUs-content-title  {
        width: 41rem;
    }
    .features-img {
        display: none;
    }
    .whyUs-features__content {
        position: static;
    }

}