.whyUs {
  display: flex;
  position: relative;
  height: auto;
  width: 100%;

  @media (min-width: 1200px) {
    justify-content: center;
  }
  @media (max-width: 320px) {
    padding: 0;
  }
}
.doodle-img {
  display: unset;
  position: absolute;
  width: 100vw;
  height: 21rem;
  bottom: -60px;

  @media (max-width: 1200px) {
    display: none;
  }
}
.whyUs-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
  height: auto;

  padding: 4rem;

  @media (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  @media (max-width: 320px) {
    padding: 0 2rem;
    gap: 0.5rem;
  }
}
.whyUs-content-title-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 80%;
}
.whyUs-content-subtitle {
  color: rgb(127, 128, 133);
  font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
  font-weight: 400;
}
.mainTitle{
  font-size: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
  color: rgb(127, 128, 133);
  font-weight: bold;
}
.whyUs-content-title {
  font-size: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
  color: rgb(127, 128, 133);
  font-weight: normal;
  height: auto;
  
}
.whyUs-features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6rem;
}
.whyUs-features__content {
  height: auto;
  width: 100%;

  @media (max-width: 992px) {
    left: 0rem;
  }
}
.features-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2rem;

  @media (max-width: 1200px) {
    padding-left: 0;
    gap: 2rem;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
  @media (max-width: 320px) {
    justify-content: flex-start;
  }
}
