.suppliers-item {
  @media (min-width: 320px) and (max-width: 768px) {
    width: 7em;
    height: 4rem;
  }
  @media (max-width: 320px) {
    width: 5rem;
    height: 2.5rem;
  }
}

.suppliers-logo {
  width: 100%;
}
