.industrySector {
  padding: 4rem;

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 2rem;
  }
  @media (max-width: 320px) {
    padding: 0.5rem;
  }
}
.industrySector-wrapper {
  width: 100%;
}
.industrySector-title {
    font-size: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
    color: rgb(127, 128, 133);
    font-weight: bold;
}
.ant-card-body {
  display: flex;
  flex-direction: column;

  height: 100%;
  
  @media (max-width: 320px) {
    height: 90%;
  }
}
.industry-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 16px;
  width: 100%;
}

.suppliers-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  width: 100%;
}

.industryCard-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.26rem;
}

.industrySector-suppliers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;

  width: 100%;

  @media (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
    gap: 4rem;
  }
  @media (max-width: 320px) {
    flex-direction: column;
    gap: 2rem;
    padding: 0 0.5rem;
  }
}
.supppliers-title {
  width: 37%;
  font-size: clamp(1.563rem, 1.473rem + 0.45vw, 1.875rem);
  font-weight: bold;
  color: rgb(127, 128, 133);

  @media (min-width: 320px) and (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

.suppliers-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  @media (min-width: 320px) and (max-width: 768px) {
    width: 80%;
  }
  @media (max-width: 320px) {
    width: 100%;
    gap: 0.5rem;
  }
}
