.header {
  background: rgb(255, 255, 255, 100%);
  position: sticky;
  top: 0;
  z-index: 1001;
  width: 100vw;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);

  @media (min-width: 320px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    gap: 100px;

    box-sizing: border-box;
  }
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  width: 100%;

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 320px) {
    flex-direction: column;
    padding: 0;
  }
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}
.header-logo {
  width: 12rem;
  height: 100%;
}
.navList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.navList-link {
  display: inline-block;
  text-align: center;
  width: auto;
  font-size: clamp(1rem, 0.839rem + 0.8vw, 1.563rem);
  padding-right: 20px;

  text-decoration: none;
  outline: none;
  color: inherit;
}
.navList-link:hover {
  color: rgb(4, 156, 142);
  font-weight: bold;
  border-bottom: 2px solid rgb(4, 156, 142);
}
