.header {
  outline: 1px solid rgb(127, 128, 133);
  background: rgb(255, 255, 255, 100%);
  position: sticky;
  top: 0;
  z-index: 1001;

  @media (min-width: 320px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    padding: 0;
  }

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    gap: 100px;

    box-sizing: border-box;
  }
}

.header-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0 60px;

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 320px) {
    padding: 0;
  }
}
.header-logo {
  width: 12rem;
  height: 100%;
}
.navList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.navList-link {
  display: inline-block;
  text-align: center;
  width: auto;
  font-size: clamp(1rem, 0.839rem + 0.8vw, 1.563rem);
}
.navList-link:hover {
  color: rgb(4, 156, 142);
  font-weight: bold;
  border-bottom: 2px solid rgb(4, 156, 142);
}
