.perspectivesBlock-advantages__advantageItem {
  font-size: clamp(1.25rem, 1.161rem + 0.45vw, 1.563rem);
  width: 100%;
  height: 6.875rem;
  border: 1px solid rgb(81, 81, 84);
  padding: 0.875rem;
  box-sizing: border-box;

  @media (max-width: 320px) {
    width: 100%;
    height: auto;
    padding: 0.1rem;
    padding: 0.5rem;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}
