* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.ant-popover .ant-popover-inner {
  margin-right: 20px;
}

.ant-drawer .ant-drawer-title {
  font-size: 20px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 18px;
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  background-color: #222c2e;
  color: #ffffff;
}

.ant-carousel {
  .slick-next {
    &::before {
      content: "";
    }
  }
  .slick-prev {
    &::before {
      content: "";
    }
  }
}

.ant-pagination {
  display: flex;
  align-items: baseline;
}
:where(.css-dev-only-do-not-override-9dgqwo).ant-card .ant-card-body::before {
  display: none;
}

:where(.css-dev-only-do-not-override-9dgqwo).ant-card .ant-card-body::after {
  display: none;
}

.ant-card-loading {
  width: 348px !important;
  height: 446px;
  border-radius: 4px;
}

.ant-spin-fullscreen {
  background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
  animation: loading 1.2s ease-in-out infinite;
}
@keyframes ant-spin-fullscreen {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.ant-card-contain-tabs > .ant-card-head .ant-card-head-title,
.ant-card-contain-tabs > .ant-card-head .ant-card-extra {
  padding: 0;
}

.ant-card-contain-tabs > .ant-card-head {
  padding: 0;
}

.ant-card .ant-card-head .ant-tabs-top {
  padding: 0 20px;
}

.ant-form-vertical .ant-form-item-label > label,
.ant-col-24.ant-form-item-label > label,
.ant-col-xl-24.ant-form-item-label > label {
  display: flex;
}

.ant-select-dropdown {
  width: 300px !important;
}
.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0 0 0 10px;
}
.ant-collapse > .ant-collapse-item:last-child {
  border-radius: 4px;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  max-height: 300px;
  overflow-y: scroll;
}

.ant-menu-item .ant-menu-item-only-child {
  padding-left: 10px;
}

.ant-alert-content {
  display: flex;
  justify-content: center;
}
