* {
  margin: 0;
  padding: 0;
  
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  
}

.ant-drawer .ant-drawer-body::-webkit-scrollbar {
  
}

.ant-drawer .ant-drawer-title {
  font-size: 20px;
}

