* {
  margin: 0;
  padding: 0;
  
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.ant-popover .ant-popover-inner {
  margin-right: 20px;
}

.ant-drawer .ant-drawer-title {
  font-size: 20px;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header{
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 18px;
}

