.userStat-item__wrapper {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: left;
  align-items: left;
  border: 1px solid gray;
  padding: 1rem;

  
  /* @media (min-width: 768px) {
      width: 40%;
      height: auto;
    } */
}
.colStat {
  max-height: 80px;
  text-align: left;

  @media (max-width: 320px) {
    width: 100%;
    height: auto;
  }

  @media (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      height: auto;
    }
  
  @media (min-width: 480px) and (max-width: 770px) {
      width: 60%;
      height: auto;
    }
}
.usersStat-Name{
  font-size: 0.875rem;
  color: rgb(105, 112, 119);
}
.userStat-NumbersBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.usersStat-quantity {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(33, 39, 42);
}
.usersStat-percentage {
  width: 3.8125rem;
  height: 1.5rem;
  padding: 0.255rem;
  background-color: rgb(242, 244, 248);
  border-radius: 12px;
}
.percentage {
  font-size: 0.875rem;
  color: rgb(33, 39, 42);
}